export API_URL=http://localhost:8080
export API_VERSION=v1

export PRIORITY_UNIT=15

export ROCKETLEAGUE_TRACKER_NETWORK_API_KEY=
export ROCKETLEAGUE_TRACKER_NETWORK_RATE=1.8
export ROCKETLEAGUE_TRACKER_NETWORK_URL=https://20kiyaost7.execute-api.us-west-2.amazonaws.com/prod

export RLTRACKER_PRO_API_KEY=
export RLTRACKER_PRO_RATE=9.8
export RLTRACKER_PRO_URL=http://rltracker.pro/api/profile/get
